<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd"
>

    <context:annotation-config/>

    <context:annotation-config/>
    <bean class="pro.akvel.text.MainConfig"/>


    <bean id="BeanWithConstructorParamsWithNames"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsWithNames">
        <constructor-arg name="param2" ref="bean2"/>
        <constructor-arg name="param1" ref="bean1"/>
    </bean>

    <bean id="BeanWithMissedIndex"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsWithIndex">
        <constructor-arg index="0" ref="bean1"/>
        <constructor-arg index="1" ref="bean2"/>
        <constructor-arg index="3">
            <null/>
        </constructor-arg>
    </bean>

    <bean id="beanWithMixedIndexAndNonIndexParams"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsWithIndex">
        <constructor-arg ref="bean1"/>
        <constructor-arg index="0" ref="bean2"/>
        <constructor-arg index="1">
            <null/>
        </constructor-arg>
    </bean>

    <bean id="BeanWithConstructorParamsFromCode"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsFromCode">
        <constructor-arg value="#{T(pro.akvel.spring.converter.testbean.TestType).type1}"/>
        <constructor-arg value="#{T(pro.akvel.spring.converter.testbean.TestType).getInt(100)}"/>
        <constructor-arg value="#{bean.value()}" type="java.lang.String"/>
        <constructor-arg value="#{getObject('param')}"/>
    </bean>

    <bean id="BeanWithPropertyParamsFromCode"
          class="pro.akvel.spring.converter.testbean.BeanWithProperty">
        <property name="property1" value="#{getObject('param')}"/>
        <property name="property2" ref="bean1"/>
    </bean>


    <bean id="BeanWithMap" class="pro.akvel.spring.converter.testbean.BeanWithMap">
        <constructor-arg>
            <map key-type="pro.akvel.spring.converter.testbean.Key"
                 value-type="pro.akvel.spring.converter.testbean.Value">
                <entry key="key1" value-ref="value1"/>
                <entry key="key2" value-ref="BeanWithIdOnly"/>
            </map>
        </constructor-arg>
        <constructor-arg name="handlers">
            <set>
                <ref bean="bean1"/>
                <ref bean="bean2"/>
            </set>
        </constructor-arg>
    </bean>


    <bean id="BeanWithConstructorWithCreateSubBeanWithSubBeanAndMap"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorWithCreateSubBeanWithSubBeanAndMap">
        <constructor-arg>
            <bean class="pro.akvel.spring.converter.testbean.SubBeanWithSubBean">
                <constructor-arg>
                    <bean class="pro.akvel.spring.converter.testbean.SubSubBean">
                        <constructor-arg>
                            <bean class="pro.akvel.spring.converter.testbean.SubSubBeanWithMap">
                                <constructor-arg>
                                    <map>
                                        <entry key="mapKey"
                                               value="mapValue"/>
                                    </map>
                                </constructor-arg>
                            </bean>
                        </constructor-arg>
                    </bean>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="BeanWithConstructorWithCreateSubBeanWithFactory"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorWithCreateSubBeanWithFactory">
        <constructor-arg>
            <bean class="pro.akvel.spring.converter.testbean.BeanWithFactoryBean"
                  factory-bean="beanFactory" factory-method="getBean"/>
        </constructor-arg>
    </bean>

    <bean id="BeanWithConstructorWithCreateSubBeanWithFactoryAndType"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorWithCreateSubBeanWithFactoryAndType">
        <constructor-arg>
            <bean class="java.lang.Integer" factory-bean="beanFactoryInteger"
                  factory-method="getInteger"/>
        </constructor-arg>
    </bean>



    <bean id="BeanWithFactoryBean"
          class="pro.akvel.spring.converter.testbean.BeanWithFactoryBean"
          factory-bean="beanFactory" factory-method="getBean">
        <constructor-arg ref="bean2"/>
        <constructor-arg>
            <bean factory-bean="subBeanFactory" factory-method="getBean"/>
        </constructor-arg>
    </bean>

    <task:scheduled-tasks scheduler="TaskScheduler">
        <task:scheduled ref="taskSchedulerBean" method="run" fixed-delay="10"/>
    </task:scheduled-tasks>

    <task:scheduler id="TaskScheduler" pool-size="1"/>

    <task:executor id="TaskExecutor" pool-size="0-1"/>

    <task:scheduled-tasks scheduler="TaskScheduler">
        <task:scheduled ref="taskSchedulerBeanWithCron" method="run" cron="0 * 0/1 * * *"/>
    </task:scheduled-tasks>

    <bean id="inheritedTestBeanWithoutClass" abstract="true">
        <property name="name" value="parent"/>
        <property name="age" value="1"/>
    </bean>
    <bean id="inheritsWithClass"
          class="org.springframework.beans.DerivedTestBean"
          parent="inheritedTestBeanWithoutClass">
        <property name="name" value="override"/>
    </bean>

    <bean id="beanWithMissedRef" class="org.springframework.beans.InvalidRef">
        <property name="key" value="123"/>
        <property name="userDetailsService" ref="memberMng"/>
    </bean>

    <bean id="beanWithMissedRefConst" class="org.springframework.beans.InvalidRef">
        <constructor-arg name="param1" ref="memberMng"/>
    </bean>

    <bean id="beanPropertyWithClassPath" class="org.springframework.beans.PropertyWithClassPath">
        <property name="driverClass" value="classpath:test.xml" />
    </bean>

    <bean id="BeanWithAutowire" class="org.springframework.beans.BeanWithAutowire" autowire="constructor" />

</beans>