<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd"
>

    <context:annotation-config/>

    <!-- Done -->
    <bean class="pro.akvel.spring.converter.testbean.BeanWithoutId"/>

    <!-- Done -->
    <bean id="BeanWithIdOnly" class="pro.akvel.spring.converter.testbean.BeanWithIdOnly"/>
    <bean id="bean1" class="pro.akvel.spring.converter.testbean.BeanWithIdOnly1"/>
    <bean id="bean2" class="pro.akvel.spring.converter.testbean.BeanWithIdOnly2"/>
    <bean id="bean3" class="pro.akvel.spring.converter.testbean.BeanWithIdOnly3"/>


    <!-- Done -->
    <bean id="BeanWithConstructorParams"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParams">
        <constructor-arg ref="bean1"/>
        <constructor-arg ref="bean2"/>
    </bean>

    <bean id="BeanWithConstructorAndPropsParams"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorAndPropsParams">
        <constructor-arg ref="bean1"/>
        <property name="property2" ref="bean2"/>
    </bean>

    <!-- Not supported -->
    <bean id="BeanWithConstructorParamsWithNames"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsWithNames">
        <constructor-arg name="param2" ref="bean2"/>
        <constructor-arg name="param1" ref="bean1"/>
    </bean>


    <!-- Done -->
    <bean id="BeanWithConstructorParamsWithNull"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsWithNull">
        <constructor-arg>
            <null/>
        </constructor-arg>
    </bean>

    <!-- Done -->
    <bean id="BeanWithConstructorParamsWithIndex"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsWithIndex">
        <constructor-arg index="0" ref="bean1"/>
        <constructor-arg index="1" ref="bean2"/>
        <constructor-arg index="2">
            <null/>
        </constructor-arg>
    </bean>

    <!-- Not supported -->
    <bean id="BeanWithMissedIndex"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsWithIndex">
        <constructor-arg index="0" ref="bean1"/>
        <constructor-arg index="1" ref="bean2"/>
        <!-- <constructor-arg index="2" ref="bean2"/> -->
        <constructor-arg index="3">
            <null/>
        </constructor-arg>
    </bean>

    <!-- Not supported -->
    <bean id="beanWithMixedIndexAndNonIndexParams"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsWithIndex">
        <constructor-arg ref="bean1"/>
        <constructor-arg index="0" ref="bean2"/>
        <constructor-arg index="1">
            <null/>
        </constructor-arg>
    </bean>

    <!-- Not Supported -->
    <bean id="BeanWithConstructorParamsFromCode"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorParamsFromCode">
        <constructor-arg value="#{T(pro.akvel.spring.converter.testbean.TestType).type1}"/>
        <constructor-arg value="#{T(pro.akvel.spring.converter.testbean.TestType).getInt(100)}"/>
        <constructor-arg value="#{bean.value()}" type="java.lang.String"/>
        <constructor-arg value="#{getObject('param')}"/>
    </bean>

    <!-- Not Supported -->
    <bean id="BeanWithPropertyParamsFromCode"
          class="pro.akvel.spring.converter.testbean.BeanWithProperty">
        <property name="property1" value="#{getObject('param')}"/>
        <property name="property2" ref="bean1"/>
    </bean>

    <!-- Not Supported -->
    <bean id="BeanWithPropertyParamsFromCode1"
          class="pro.akvel.spring.converter.testbean.BeanWithProperty">
        <property name="property1" value="${getObject('param')}/123"/>
        <property name="property2" ref="bean1"/>
    </bean>

    <!-- Done -->
    <bean id="BeanWithProperty"
          class="pro.akvel.spring.converter.testbean.BeanWithProperty">
        <property name="property1" value="value1"/>
        <property name="property2" ref="bean1"/>
        <property name="property3">
            <value>value3</value>
        </property>
    </bean>


    <!-- Done -->
    <bean id="BeanWithConstructorConstArgs"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorConstArgs">
        <constructor-arg value="stringValue" type="java.lang.String"/>
        <constructor-arg type="java.lang.String">
            <null/>
        </constructor-arg>
        <constructor-arg value="param3Value"/>
        <constructor-arg value="0" type="java.lang.Integer"/>
        <constructor-arg value="1" type="java.lang.Long"/>
    </bean>

    <!-- Not supported -->
    <bean id="BeanWithMap" class="pro.akvel.spring.converter.testbean.BeanWithMap">
        <constructor-arg>
            <map key-type="pro.akvel.spring.converter.testbean.Key"
                 value-type="pro.akvel.spring.converter.testbean.Value">
                <entry key="key1" value-ref="value1"/>
                <entry key="key2" value-ref="BeanWithIdOnly"/>
            </map>
        </constructor-arg>
        <constructor-arg name="handlers">
            <set>
                <ref bean="bean1"/>
                <ref bean="bean2"/>
            </set>
        </constructor-arg>
    </bean>

    <bean id="BeanWithPropertyList"
          class="pro.akvel.spring.converter.testbean.BeanWithPropertyList">
        <property name="prop1">
            <list>
                <ref bean="bean1"/>
                <ref bean="bean2"/>
            </list>
        </property>
        <property name="prop2">
            <list>
                <ref bean="bean1"/>
            </list>
        </property>
        <property name="prop3">
            <set>
                <ref bean="bean1"/>
            </set>
        </property>
        <property name="prop4">
            <set>
                <ref bean="bean1"/>
                <ref bean="bean1"/>
            </set>
        </property>
    </bean>

    <!-- Done -->
    <bean id="BeanWithConstructorWithCreateSubBean"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorWithCreateSubBean">
        <constructor-arg>
            <bean class="pro.akvel.spring.converter.testbean.SubBean">
                <constructor-arg ref="bean1"/>
                <constructor-arg ref="bean2"/>
            </bean>
        </constructor-arg>
    </bean>

    <!-- Done -->
    <bean id="BeanWithConstructorWithCreateSubBeanWithSubBean"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorWithCreateSubBeanWithSubBean"
    >
        <constructor-arg>
            <bean class="pro.akvel.spring.converter.testbean.SubBeanWithSubBean">
                <constructor-arg>
                    <bean class="pro.akvel.spring.converter.testbean.SubBean">
                        <constructor-arg ref="bean1"/>
                        <constructor-arg ref="bean2"/>
                    </bean>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>

    <!-- Done -->
    <bean id="BeanWithSubBeanWithProperty" class="pro.akvel.spring.converter.testbean.BeanWithSubBeanWithProperty">
        <constructor-arg>
            <bean class="pro.akvel.spring.converter.testbean.SubBeanWithSubBeanWithProperty">
                <property name="property1" value="value1"/>
                <property name="property2" ref="BeanWithIdOnly"/>
            </bean>
        </constructor-arg>
    </bean>

    <!-- Not supported -->
    <bean id="BeanWithConstructorWithCreateSubBeanWithSubBeanAndMap"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorWithCreateSubBeanWithSubBeanAndMap">
        <constructor-arg>
            <bean class="pro.akvel.spring.converter.testbean.SubBeanWithSubBean">
                <constructor-arg>
                    <bean class="pro.akvel.spring.converter.testbean.SubSubBean">
                        <constructor-arg>
                            <bean class="pro.akvel.spring.converter.testbean.SubSubBeanWithMap">
                                <constructor-arg>
                                    <map>
                                        <entry key="mapKey"
                                               value="mapValue"/>
                                    </map>
                                </constructor-arg>
                            </bean>
                        </constructor-arg>
                    </bean>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>

    <!-- Not supported -->
    <bean id="BeanWithConstructorWithCreateSubBeanWithFactory"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorWithCreateSubBeanWithFactory">
        <constructor-arg>
            <bean class="pro.akvel.spring.converter.testbean.BeanWithFactoryBean"
                  factory-bean="beanFactory" factory-method="getBean"/>
        </constructor-arg>
    </bean>

    <!-- Not supported -->
    <bean id="BeanWithConstructorWithCreateSubBeanWithFactoryAndType"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorWithCreateSubBeanWithFactoryAndType">
        <constructor-arg>
            <bean class="java.lang.Integer" factory-bean="beanFactoryInteger"
                  factory-method="getInteger"/>
        </constructor-arg>
    </bean>

    <!-- Done -->
    <bean id="BeanWithConstructorWithCreateSubBeanWithConstArg"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorWithCreateSubBeanWithConstArg">
        <constructor-arg ref="bean1"/>
        <constructor-arg>
            <bean class="pro.akvel.spring.converter.testbean.BeanWithConstParam">
                <constructor-arg type="java.lang.Integer" value="123"/>
            </bean>
        </constructor-arg>
    </bean>

    <!-- Done -->
    <bean id="BeanWithInitDestroyMethod"
          class="pro.akvel.spring.converter.testbean.BeanWithInitMethod"
          init-method="initMethod" destroy-method="destroyMethod">
    </bean>


    <!-- Done -->
    <bean id="BeanWithDependsOn"
          class="pro.akvel.spring.converter.testbean.BeanWithDependsOn"
          depends-on="bean1">
    </bean>

    <!-- Done -->
    <bean id="BeanWithDependsOnMulti"
          class="pro.akvel.spring.converter.testbean.BeanWithDependsOn"
          depends-on="bean1, bean2">
    </bean>

    <!-- Not supported -->
    <bean id="BeanWithFactoryBean"
          class="pro.akvel.spring.converter.testbean.BeanWithFactoryBean"
          factory-bean="beanFactory" factory-method="getBean">
        <constructor-arg ref="bean2"/>
        <constructor-arg>
            <bean factory-bean="subBeanFactory" factory-method="getBean"/>
        </constructor-arg>
    </bean>

    <!-- Not supported -->
    <task:scheduled-tasks scheduler="TaskScheduler">
        <task:scheduled ref="taskSchedulerBean" method="run" fixed-delay="10"/>
    </task:scheduled-tasks>

    <!-- Not supported -->
    <task:scheduler id="TaskScheduler" pool-size="1"/>

    <!-- Not supported -->
    <task:executor id="TaskExecutor" pool-size="0-1"/>

    <!-- Not supported -->
    <task:scheduled-tasks scheduler="TaskScheduler">
        <task:scheduled ref="taskSchedulerBeanWithCron" method="run" cron="0 * 0/1 * * *"/>
    </task:scheduled-tasks>

    <bean id="BeanWithConstructorListArg"
          class="pro.akvel.spring.converter.testbean.BeanWithConstructorListArg">
        <constructor-arg>
            <list>
                <ref bean="bean1"/>
                <ref bean="bean2"/>
                <ref bean="bean2"/>
            </list>
        </constructor-arg>
        <constructor-arg>
            <set>
                <ref bean="bean1"/>
                <ref bean="bean2"/>
                <ref bean="bean2"/>
            </set>
        </constructor-arg>
    </bean>

    <!-- Done -->
    <bean name="BeanWithScope" class="pro.akvel.spring.converter.testbean.BeanWithScope" scope="singleton">
    </bean>

    <!-- Done -->
    <bean name="BeanWithPrimary" class="pro.akvel.spring.converter.testbean.BeanWithPrimary" primary="true"/>

    <!-- Done -->
    <bean name="BeanWithDescription" class="pro.akvel.spring.converter.testbean.BeanWithDescription">
        <description>Bean with description</description>
    </bean>

    <!-- Not supported -->
    <bean id="inheritedTestBeanWithoutClass" abstract="true">
        <property name="name" value="parent"/>
        <property name="age" value="1"/>
    </bean>

    <!-- Not supported -->
    <bean id="inheritsWithClass" class="org.springframework.beans.DerivedTestBean"
          parent="inheritedTestBeanWithoutClass">
        <property name="name" value="override"/>
        <!-- age will inherit the value of 1 from the parent bean definition-->
    </bean>

    <!-- Not supported -->
    <bean id="beanWithMissedRef" class="org.springframework.beans.InvalidRef">
        <property name="key" value="123"/>
        <property name="userDetailsService" ref="memberMng"/>
    </bean>

    <!-- Not supported -->
    <bean id="beanWithMissedRefConst" class="org.springframework.beans.InvalidRef">
        <constructor-arg name="param1" ref="memberMng"/>
    </bean>

    <!-- Not supported -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
    </bean>

    <!-- Not supported -->
    <bean id="BeanWithLazyAnnotation"
          class="pro.akvel.spring.converter.testbean.BeanWithLazyAnnotation"
          lazy-init="true"/>

    <bean id="BeanWithQualifier"
          class="pro.akvel.spring.converter.testbean.BeanWithQualifier">
        <qualifier value="contentCount" type="org.springframework.beans.factory.annotation.Qualifier"/>
    </bean>

    <!-- Not supported -->
    <bean id="beanPropertyWithExpr" class="org.springframework.beans.PropertyWithExpr">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
    </bean>

    <bean id="BeanWithInt" class="pro.akvel.spring.converter.testbean.BeanWithInt">
        <constructor-arg type="int" index="0">
            <value>255</value>
        </constructor-arg>
    </bean>

    <!-- Not supported -->
    <bean id="beanPropertyWithClassPath" class="org.springframework.beans.PropertyWithClassPath">
        <property name="driverClass" value="classpath:test.xml"/>
    </bean>

    <bean id="BeanWithSubBeanProperty" class="pro.akvel.spring.converter.testbean.BeanWithSubBeanProperty">
        <property name="param1">
            <bean class="pro.akvel.spring.converter.SubBean"/>
        </property>
    </bean>

    <!-- Not supported -->
    <bean id="BeanWithAutowire" class="org.springframework.beans.BeanWithAutowire" autowire="constructor"/>

</beans>